/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,::after,::before{box-sizing:border-box}html{font-family:system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';line-height:1.15;-webkit-text-size-adjust:100%;-moz-tab-size:4;tab-size:4}body{margin:0}hr{height:0;color:inherit}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:1px dotted ButtonText}:-moz-ui-invalid{box-shadow:none}legend{padding:0}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}

:root  {

	--font:			"PiekosFX Rough BB W05 Regular" ; 
	--text-font:	"Futura LT W01 Book" ;
	--move-font:	"Futura LT W01 Bold";
	--numb-font:	"Futura LT W01 Medium";

	--blk:				rgba(32,32,32,1) ; 
	--blk-high:			rgba(0,0,0,0.75) ;
	--blk-mid:			rgba(0,0,0,0.25) ;
	--blk-low:			rgba(0,0,0,0.125) ;
	--wht:				rgba(255,255,255,1) ; 
	--wht-high:			rgba(255,255,255,0.75) ;
	--wht-mid: 			rgba(255,255,255,0.25) ;
	--wht-low:			rgba(255,255,255,0.125) ;

	--bkg:			rgba(32,32,32,1) ; 
	--txt:			rgba(255,255,255,1) ; 
	--hgh: 			rgba(128,128,255,1); 
	--mid: 			rgba(224,224,224,1); 
	--heat:			rgba(255,128,0,1)	; 

	--on:			rgb(0,192,0);
	--off:			rgb(192,0,0);
	--warning:		rgb(255,0,0);

	--texture-blk:	linear-gradient(315deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 55%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.075) 95%, rgba(0,0,0,0) 100%) ;
	--texture-wht:	linear-gradient(275deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.075) 25%, rgba(255,255,255,0.05) 30%, rgba(255,255,255,0.125) 75%, rgba(255,255,255,0) 100%) ;

	--move-width:	5.75em ; 
}

@font-face{
    font-family:"Futura LT W01 Bold";
    src:url(./assets/fonts/003a1a64-f6ac-4ed5-a1e7-ba80a9c1da08.woff2) format("woff2"),url(./assets/fonts/c41868cc-38dc-403d-b177-599afd5988b6.woff) format("woff");
}
@font-face{
    font-family:"PiekosFX Rough BB W05 Regular";
    src:url(./assets/fonts/eab24d14-06c3-422e-a588-3fcf12d9f713.woff2) format("woff2"),url(./assets/fonts/eaf2658c-5717-4114-8eb0-e8f149b33336.woff) format("woff");
}
@font-face{
    font-family:"Futura LT W01 Display";
    src:url(./assets/fonts/3cd9bb5b-187d-4b9e-8d6b-c1dc42daf93c.woff2) format("woff2"),url(./assets/fonts/77389162-7f2f-4e78-8335-ce9f1da0cc37.woff) format("woff");
}
@font-face{
    font-family:"Futura LT W01 Medium";
    src:url(./assets/fonts/96ee71e8-aad9-4053-8e86-df6a4667cf9b.woff2) format("woff2"),url(./assets/fonts/983ab0ae-d7ab-4532-a915-3eab4466bda2.woff) format("woff");
}
@font-face{
	font-family:"Futura LT W01 Book";
	src:url(./assets/fonts/7964ffda-2675-4ef4-adfb-c085615649e1.woff2) format("woff2"),url(./assets/fonts/f275fca8-c3f2-485a-84f2-0b2ef18f181b.woff) format("woff");
}


* { box-sizing: border-box }
body  { font-size: 2em ; background-color: var(--wht) ; margin: 0 ; padding: 0 ;  }


#root  { display: grid ; min-height: 100vh ; min-width: 100% ; min-width: 360px ; }
#root  { transition: 0.25s ease-in-out all;
	grid-template-rows: 4.5em auto 4.5em ; grid-template-columns: 4.5em 4.5em auto auto 4.5em 4.5em;
	grid-template-areas: 
	"menu main main main main deck"
	"menu main main main main deck"
	"menu main main main main deck"
}
@media screen and (max-width: 800px){
	#root  { 
		grid-template-areas: 
		"menu menu menu menu menu menu"
		"main main main main main main"
		"deck deck deck deck deck deck"
		}
}
	
#root main  { --gap: 0 ; --edge: 0 ; --box: none ; }
#root main.show--more-white  { --gap: 1rem ; --edge: 1rem ; --box: inset 0.25em 0 1rem -0.75em rgba(0,0,0,0.5) ; }
#root main.move--split  { --move-width: 8.5em ; }


@media screen and (max-width: 1920px){
	body  { font-size: 1.875em ; }  
}
@media screen and (max-width: 1800px){
	body  { font-size: 1.75em ; }  
	#root main.show--more-white  { --gap: 0.5rem ; --edge: 1rem ; }
}
@media screen and (max-width: 1600px){
	body  { font-size: 1.625em ; }  
}
@media screen and (max-width: 1240px){
	body  { font-size: 1.5em ; }  
	#root main.show--more-white  { --gap: 0.25rem ; --edge: 0.125rem ; }
}
@media screen and (max-width: 990px){
	body  { font-size: 1.375em ; }
}
@media screen and (max-width: 800px){
	body  { font-size: 1em ; }  
}
@media screen and (max-width: 640px){
	body  { font-size: 1em ; }  
}
@media screen and (max-width: 480px){
	body  { font-size: 0.875em ; }  
}

#root main  { display: grid ; grid-template: 1fr / auto ; align-items: stretch ; align-content: stretch ; align-items: flex-start ; align-content: flex-start ; grid-area: main ; gap: var(--gap) ; padding: var(--gap) ; box-shadow: var(--box) ; }

#root main > section > header.championship   { display: flex ; justify-self: flex-start ; align-items: center ; justify-content: flex-end ; gap: 0 ; width: 100% ; height: 100% ; grid-column: 1 / -1 ; border-radius: var(--edge) ; background-color: var(--blk); color: var(--txt) ; padding: 0.5em ; margin: 0 ; font-family: var(--move-font) ; font-weight: 400 ; text-transform: uppercase ; font-size: 1em ; }
#root main > section > header.championship h2,
#root main > section > header.championship h3  { margin: 0 0.5em 0 0 ; width: 100% ; display: flex ; font-size: 1em ; }
#root main > section > header.championship h2  { display: none ;  }
#root main > section > header.championship h2.no-ul  { margin: 0.5em 0 ; display: flex ; }
#root main > section > header.championship > ul  { display: flex ;  margin: 0; padding: 0 ; list-style-type: none ; gap: 0 ; }
#root main > section > header.championship > ul > li { display: flex ; vertical-align: middle ; font-size: 1em ; padding: 0 ; margin: 0 ; list-style-type: none ;  cursor: pointer ; transition: 0.5s opacity ease-in , 0.25s background-color ease-out; }
#root main > section > header.championship > ul > li:first-of-type span  { border-radius: 1.5em 0 0 1.5em ; }
#root main > section > header.championship > ul > li:last-of-type span  { border-radius: 0 1.5em 1.5em 0 ; }
#root main > section > header.championship > ul > li > span  { background-color: var(--bkg) ; color: var(--txt) ;display: flex ;  align-items: center; justify-content: center; padding: 0.5em ; outline: 1px solid var(--wht-mid) ; }
#root main > section > header.championship > ul > li:hover > span   { background-color: var(--hgh) ; }
#root main > section > header.championship > ul > li.on:hover  { color: var(--bkg) ; cursor: default ; }
#root main > section > header.championship > ul > li.on > span  { background-color: var(--on) ; }

#root main header   { display: flex ; align-items: center ; justify-content: flex-start ; gap: 0 ; width: 100% ; height: 100% ; border-radius: var(--edge) ; background-color: var(--blk); color: var(--txt) ; padding: 0.5em ; margin: 0 ; font-family: var(--move-font) ; font-weight: 400 ; text-transform: uppercase ; font-size: 1em ; }
#root main header h2 ,
#root main header h3  { font-size: 1em ; padding: 0 ; margin: 0.5em 0.5em 0.5em 0; }


.action-do   { position: relative ; display: inline-block ; background-color:  var(--on) ; color:  var(--wht) ; border-radius: var(--edge) ; padding: 0.5em 0.75em 0.5em 1.75em ; font-family: var(--text-font);  cursor: pointer; }
.action-do::before   { position: absolute  ; content: ''; top: calc( 50% - 0.325em )  ; left: 0.75em ; width: 0 ; height: 0 ; border: 0.375em solid transparent ; border-left-color: var(--wht) ; border-left-width: 0.45em  ; }
.action-do:hover  { background-color:  var(--blk) ;  outline: 0.125em solid var(--hgh) ;  }
.warning .action-do  { background-color:  var(--warning) ; }
.warning .action-do:hover  { background-color:  var(--blk) ; }


#root main .cnt--actions  { display: flex ; flex-flow: row wrap ; gap: var(--gap) ; position: relative ; }
#root main .cnt--actions header { display: none ; }
#root main .cnt--actions .action   { display: contents ; cursor: pointer ; }
#root main .cnt--actions .action button   { display: none; }
#root main .cnt--actions .action .hdr   { order: 0 ; }
#root main .cnt--actions .action:hover .hdr    { background-color:  var(--blk) ; color: var(--wht) ; }
#root main .cnt--actions .action .txt   { display: none ; }
#root main .cnt--actions .action.season-1963 ,
#root main .cnt--actions .action.season-1964  { display: none ; }
#root main.use--new-1963 .cnt--actions .action.season-1963-legacy  { display: none ; }
#root main.use--new-1963 .cnt--actions .action.season-1963 ,
#root main.use--new-1963 .cnt--actions .action.season-1964  { display: flex ; }


#over  { position: fixed ; inset: 0 ; display: grid ; align-items: center ; justify-items: center ; background-color: var(--blk-high) ; color: var(--wht) ; --edge: 0.25em  ; --gap: 0.5em  ; }
#over .ins  { max-width: 400px;  color: var(--blk) ; background-color: var(--wht) ; border-radius: 0.5em ; padding: 0.5em 1em 0.5em 0.5em ;  }
#over .ins p  { margin: 0 ; padding: 0.5em  ; }
#over .ins ul  { display: flex ; gap: 0.5em ; margin: 0 ; padding: 0.5em  ; list-style-type: none ; }
#over .ins ul li  { list-style-type: none ; }