/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,::after,::before{box-sizing:border-box}html{font-family:system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji' ; line-height:1.15 ; -webkit-text-size-adjust: 100% ; -moz-tab-size:4 ; tab-size:4}body{margin:0}hr{height:0 ; color:inherit}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace ; font-size:1em}small{font-size:80%}sub,sup{font-size:75% ; line-height:0 ; position:relative ; vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0 ; border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit ; font-size: 100% ; line-height:1.15 ; margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}::-moz-focus-inner{border-style:none ; padding:0}:-moz-focusring{outline:1px dotted ButtonText}:-moz-ui-invalid{box-shadow:none}legend{padding:0}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield ; outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button ; font:inherit}summary{display:list-item}

:root  {

	--font:			"PiekosFX Rough BB W05 Regular" ;
	--text-font:	"Futura LT W01 Book" ;
	--move-font:	"Futura LT W01 Bold" ;
	--numb-font:	"Futura LT W01 Medium" ;

	--blk:			rgba(32,32,32,1) ;
	--blk-high:		rgba(0,0,0,0.75) ;
	--blk-mid:		rgba(0,0,0,0.25) ;
	--blk-low:		rgba(0,0,0,0.125) ;
	--wht:			rgba(255,255,255,1) ;
	--wht-high:		rgba(255,255,255,0.75) ;
	--wht-mid: 		rgba(255,255,255,0.25) ;
	--wht-low:		rgba(255,255,255,0.125) ;

	--bkg:			rgba(32,32,32,1) ;
	--txt:			rgba(255,255,255,1) ;
	--hgh: 			rgba(128,128,255,1) ;
	--mid: 			rgba(224,224,224,1) ;
	--heat:			rgba(255,128,0,1)	 ;
	--heat-high:	rgba(255,128,0,0.75) ;
	--heat-mid:		rgba(255,128,0,0.25) ;
	--heat-low:		rgba(255,128,0,0.125) ;

	--on:			rgb(0,192,0) ;
	--off:			rgb(192,0,0) ;
	--warning:		rgb(255,0,0) ;

	--gap: 0 ;
	--edge: 0 ;
	--corner: 0 ;

	--width-menu: 4.5rem ;
	--width-subm: 4.5rem ;
	--width-main: auto ;
	--width-deck: 6.5rem ;
	--width-main: calc( 100% - var(--width-menu)  ) ;

	--texture-diag: linear-gradient(
		45deg,
		rgba(255,255,255,0.075) 0%,
		rgba(255,255,255,0.075) 25%,
		rgba(0,0,0,0.075) 25%,
		rgba(0,0,0,0.075) 50%,
		rgba(255,255,255,0.05) 50%,
		rgba(255,255,255,0.05) 75%,
		rgba(0,0,0,0.05) 75%,
		rgba(0,0,0,0.05) 100%
		) ;
	--texture: linear-gradient(
		-45deg,
		rgba(255,255,255,0.025) 0%,
		rgba(255,255,255,0.025) 25%,
		rgba(0,0,0,0.025) 25%,
		rgba(0,0,0,0.025) 50%,
		rgba(255,255,255,0.0125) 50%,
		rgba(255,255,255,0.0125) 75%,
		rgba(0,0,0,0.0125) 75%,
		rgba(0,0,0,0.0125) 100%
		) ;
	--texture-blk:	linear-gradient(315deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 55%, rgba(0,0,0,0.075) 60%, rgba(0,0,0,0.075) 95%, rgba(0,0,0,0) 100%) ;
	--texture-wht:	linear-gradient(275deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.075) 25%, rgba(255,255,255,0.05) 30%, rgba(255,255,255,0.125) 75%, rgba(255,255,255,0) 100%) ;

}

@font-face{
    font-family:"Futura LT W01 Bold" ;
    src:url(./assets/fonts/003a1a64-f6ac-4ed5-a1e7-ba80a9c1da08.woff2) format("woff2"),url(./assets/fonts/c41868cc-38dc-403d-b177-599afd5988b6.woff) format("woff") ;
}
@font-face{
    font-family:"PiekosFX Rough BB W05 Regular" ;
    src:url(./assets/fonts/eab24d14-06c3-422e-a588-3fcf12d9f713.woff2) format("woff2"),url(./assets/fonts/eaf2658c-5717-4114-8eb0-e8f149b33336.woff) format("woff") ;
}
@font-face{
    font-family:"Futura LT W01 Display" ;
    src:url(./assets/fonts/3cd9bb5b-187d-4b9e-8d6b-c1dc42daf93c.woff2) format("woff2"),url(./assets/fonts/77389162-7f2f-4e78-8335-ce9f1da0cc37.woff) format("woff") ;
}
@font-face{
    font-family:"Futura LT W01 Medium" ;
    src:url(./assets/fonts/96ee71e8-aad9-4053-8e86-df6a4667cf9b.woff2) format("woff2"),url(./assets/fonts/983ab0ae-d7ab-4532-a915-3eab4466bda2.woff) format("woff") ;
}
@font-face{
	font-family:"Futura LT W01 Book" ;
	src:url(./assets/fonts/7964ffda-2675-4ef4-adfb-c085615649e1.woff2) format("woff2"),url(./assets/fonts/f275fca8-c3f2-485a-84f2-0b2ef18f181b.woff) format("woff") ;
}


* { box-sizing: border-box ;}
body  { font-size: 2em ; margin: 0 ; padding: 0 ; background-color: var(--wht) ; container: body / size ; }
#root:has(main.show--more-white) :is(#menu,#subm,main,#deck)  { --gap: 1.5rem ; --edge: 0.75rem ; --corner: 1.5rem ; }

@media screen and (max-width: 1920px){
	body  { font-size: 1.875em ; }
}
@media screen and (max-width: 1800px){
	body  { font-size: 1.75em ; }
	#root:has(main.show--more-white) :is(#menu,#subm,main,#deck) { --gap: 1rem ; --edge: 0.5rem ; --corner: 1rem ;}
}
@media screen and (max-width: 1600px){
	body  { font-size: 1.625em ; }
}
@media screen and (max-width: 1240px){
	body  { font-size: 1.5em ; }
	#root:has(main.show--more-white) :is(#menu,#subm,main,#deck)  { --gap: 0.5rem ; --edge: 0.25rem ; --corner: 0.5rem ;}
}
@media screen and (max-width: 990px){
	body  { font-size: 1.375em ; }
}
@media screen and (max-width: 800px){
	body  { font-size: 1em ; }
}
@media screen and (max-width: 640px){
	body  { font-size: 1em ; }
}
@media screen and (max-width: 480px){
	body  { font-size: 0.875em ; }
}
@media screen and (max-width: 320px){
	body  { font-size: 0.75em ; }
	#root :is(#menu,#subm,main,#deck)   { --gap: 0 ; --edge: 0 ; --corner: 0 ; --box: none ; }
	#root:has(main.show--more-white) :is(#menu,#subm,main,#deck)  { --gap: 0.25rem ; --edge:  0.125rem ; --corner: 0.25rem ; --box: inset 0.25em 0 1rem -0.75em rgba(0,0,0,0.5) ; }
}



#root  { display: grid ; min-width: 360px ; transition: 0.25s ease-in-out grid-template ; }
#root  {
	grid-template: "menu main" 100dvh / var(--width-menu) var(--width-main) ;

	#menu  { grid-area: menu ; }
	#subm  { grid-area: subm ; }
	main  { grid-area: main ; }
	#deck  { grid-area: deck ; }

}



