#root[data-view=drivers] {
	main { 
		grid-template: repeat(2,auto) / auto ; align-items: flex-start ; align-content: flex-start ; 
		.cnt  { 
			display: grid ; gap: var(--gap) ; font-family: var(--text-font) ; font-size: 0.75em ; 
			article   { 
				display: grid ; list-style-type: none ; padding: 0 ; margin: 0 ; border-radius: var(--edge) ; overflow: hidden ; border-left: 1.5em solid var(--bkg) ; 
				ul { 
					display: flex ; flex-flow: row wrap ; gap: 0.5em ; list-style-type: none ; padding: 1em ; margin: 0 ; border-radius: 0 ; background: var(--texture) 0 0 / 4px 4px repeat , var(--mid) ; color: var(--blk) ; 
					li:has(.driver--active)  { width: 4em ; }
					li:has(.driver--name)  { min-width: 16em ; }
					li:has(.driver--rival)  { width: 8em ; }
					li:has(.driver--number)  { width: 4em ; }
					li:has(.driver--team)  { width: 16em ; }
					li:has(.driver--colour)  { width: 8em ; }
					li:has(.driver--human)  { width: 8em ; }
					li.input--toggle   { 
						display: flex ; 
						> label  { display: flex ; position: relative ; cursor: pointer ;  width: 100% ; min-height: 3em ; }
						> label:hover span span { text-decoration: underline ; }
						> label input[type=checkbox] { display: none ; }
						> label input[type=checkbox] ~ span    { display: inline-flex ; padding: 0.25em 1em 0.625em 0.75em  ; border-radius: 0.5em ; place-items: end   ; place-content: start  ;  width: 100% ; outline: 1px solid var(--blk-mid) ; outline-offset: -3px ; color: var(--blk-mid) ; }
						> label input[type=checkbox] ~ span > span   { transition: 0.5s background-color ease-in-out ; }
						> label input[type=checkbox]:checked ~ span  { background-color: var(--on) ; color: var(--wht) ; outline-width: 0px ; }
						> label input[type=checkbox]:checked ~ span:hover  { background-color: var(--hgh) ; color: var(--wht) ; }
						> label input[type=checkbox] ~ span > .on   { display: none ; }
						> label input[type=checkbox] ~ span > .off   { display: block ; }
						> label input[type=checkbox]:checked ~ span > .on   { display: block ; }
						> label input[type=checkbox]:checked ~ span > .off   { display: none ; }
					}
					li.input--text {
						> span { position: relative ; padding: 0  ; width: 100% ; min-height: 3em ; }
						>  span i { order: 30 ; display: block ; position: absolute ; top: -1.5em ; left: 0.5em ; font-size: 0.75em ; font-style: normal ; opacity: 0.25 ; }
						>  span :is(select,input)  { order: 20 ; padding: 1.5em 0.5em 0.5em ; width: 100% ; border-radius: 0.5em ; border: 0 ; background-color: var(--wht) ; outline: 0 ; transition: 0.5s background-color ease-in-out ; }
						>  span :is(select,input):hover ,
						>  span :is(select,input):focus { background-color: var(--wht) ; outline: 0.125em solid var(--hgh) ; }
					}
				}
				table { 
					display: block ; border-collapse: collapse ; margin: -0.5em 0 0 ; padding: 0 1em 1em ; border-radius: 0 ; background-color: var(--mid) ; color: var(--blk) ; 
					tbody  { 
						display: grid ; gap: 0.25em ; grid-template: repeat(4,1fr) / 12em repeat(12,1fr) ; align-items: center ; justify-items: center ; 
						tr { display: contents ; }
						tr th { justify-self: left ; }
						tr th ,
						tr td  { font-weight: 400 ; text-align: left ; }
						tr th .monospace  { display: inline-block ; width: 1em ; text-align: center ; }
					}
					thead ,
					tbody  { 
						tr td input { width: 100% ; display: block ; text-align: center ; padding: 0.25em ; margin: 0 ; border-radius: 0.25em ; border: 0 ; background-color: var(--wht) ; outline: 0 ; }
						tr td input:hover ,
						tr td input:focus  { outline: 0.125em solid var(--hgh) ; } 
					}
				}
			}
		}
	}
	main:not(.show--grid) article table { display: none ; }
}

