#root {
	#menu , #subm  { 
		display: flex ; background: var(--texture-diag) 0 0 / 4px 4px repeat , var(--bkg) ; container: menu / size;
		.cnt   { 
			margin: 0.5em ; gap: 0.5em ; display: flex ; flex-flow: column nowrap ; place-items: start ; place-content: start ; 
			@container (aspect-ratio > 1) {  /*  Horizontal  */ }
			> ul  { position: sticky ; top: 0.5em ; display: flex ; flex-flow: column nowrap ; background-color: var(--wht-low) ; outline: 1px solid var(--wht-mid) ; color: var(--txt) ; list-style-type: none ; padding: 0.25em ; margin: 0 ; gap: 0.25em ; border-radius: var(--corner) ; width: 100% ; }
			> ul:has( li.hdr ) {
				background-color: var(--bkg) ; 
			}

			> ul > li  { 
				display: flex ; flex-flow: column nowrap ; padding: 0 ; margin: 0 ; list-style-type: none ; border-radius: var(--corner) ; cursor: pointer ; transition: 0.5s opacity ease-in , 0.25s background-color ease-out ; outline: 0px solid var(--wht-mid) ; 
				&.hdr  { 
					padding: 0.175em 0 ; cursor: default ; 
					.txt   { font-size: 0.75em ; font-family: var(--move-font) ; }
				}
				> .item  { 
					background-color: var(--bkg) ; color: var(--txt) ; border-radius: var(--corner) ; display: flex ; place-items: center ; place-content: center ; padding: 0 ; 
					&.on  { display: flex ; }
					&.off  { display: none ; }
					img   { width: 1.5em ; aspect-ratio: 1 / 1 ; display: block ; transition: 0.125s all ease-in ; }
					.txt   { display: none ; font-size: 0.75em ; font-family: var(--font) ; }
				}
				&:hover > .item   { background-color: var(--hgh) ; }
				&.on:hover  { cursor: default ; }
				&.on > .item  { background-color: var(--on) ; color: var(--wht) ; }
			}
		}
	}
	#subm {
		.cnt   { 
			padding-inline: 0 ; width: calc( 100% - 0.5em ) ; margin-inline-start: 0 ; 
			> ul   { }
			> ul > li  { border-radius: var(--corner) ; flex-flow: row nowrap ; }
			> ul > li > .item  { border-radius: var(--corner) ; place-items: center ; place-content: start ; padding: 0.325em 0.5em 0.175em ; padding: 0 0.5em 0 0.125em  ; gap: 0.125em  ; min-height: 1.5em ; }
			> ul > li .item img { width: 1em ; aspect-ratio: 1 / 1 ; display: block ; }
			> ul > li .item .txt { display: flex ; flex-flow: row nowrap ; white-space: nowrap ; }
		}
	}
}
#root  { 
	&:has(#subm .cnt:empty)  {
		#menu  .cnt > ul > li > .item  img   { width: 2.5em ; }
	}		
}

