
#root[data-view=race],
#root[data-view=round] {
	main:not(.show--teams) .cnt article .driver .driver--team  { display: none; }
	main:not(.show--colours) .cnt article .driver .driver--colour  { display: none; }
	main:not(.move--split) .cnt article .move .move--bend  { display: none; }
	main:not(.move--star) .cnt article .move {
		.move--star ,
		.move--star_icon  { display: none; }
	}
	main:not(.move--rival) .cnt article .move {
		.move--rival  ,
		.move--rival_icon  { display: none; }
	}

	main:not(.show--more-white) .cnt    {  gap: 0 ; }
	main:not(.show--number) .cnt article {
		grid-template:  "driver move race"  auto / 1fr auto 1.5em ; 
		.number  { display: none ; }
	}
	main:not(.show--finish) .cnt article {
		grid-template:  "number driver move"  auto / 1.5em 1fr auto ; 
		.race  { display: none ; }
	}
	main:not(.show--number.show--finish) .cnt article {
		grid-template:  "driver move"  auto / 1fr auto ; 
		.number  { display: none ; }
		.race  { display: none ; }
	}

	main  {
		height: 100dvh ;container: race / size;
		.cnt  { 
			@container (aspect-ratio > 1) {  /*  Horizontal  */ }
			display: grid ;  gap: var(--gap) ; place-items: stretch ; place-content: stretch; height: calc( 100dvh - (var(--gap) * 2) ) ; container: articles / inline-size ;
			article { 
				display: grid ; padding: 0 var(--gap) ; gap: var(--gap) ; background: var(--texture) 0 0 / 4px 4px repeat , var(--texture-blk) 0% 50% / 100% 100% no-repeat , var(--texture-wht) 50% 50% / 100% 100% no-repeat , var(--bkg) ; color: var(--txt) ; border-radius: var(--corner) ; overflow: hidden ; 
				grid-template:  "number driver move race"  auto / 1.5em 1fr auto 1.5em ; place-items: center start  ; place-content: center  ; 
				.number  { grid-area: number ; display: flex ; place-items: center ; place-content: center ; aspect-ratio: 1 / 1 ; line-height: 100% ; width: 100% ; border-radius: 100% ; background-color: var(--blk) ; color: var(--wht) ; font-family: var(--numb-font) ; font-size: 0.625em ; }
				.driver  { 
					grid-area: driver ; display: flex ; flex-flow: row nowrap ; place-content: center ; place-items: center ; gap: 0.5em ; font-family: var(--font) ; 
					.driver--name    { text-shadow: 0.05em 0.05em 0 var(--blk) ; }
					.driver--team  { text-shadow: 2px 2px 1px var(--blk) ; }
					.driver--colour  { font-size: 0.75em ; text-shadow: 2px 2px 1px var(--blk) ; }
				}
				.move  { 
					grid-area: move ; display: flex ; flex-flow: row nowrap ; height: 100% ; gap: var(--gap) ; place-items: center ; place-content: center ; font-family: var(--move-font) ; padding: 0 ; 
					
					.move--rival ,
					.move--rival_icon ,
					.move--star ,
					.move--star_icon ,
					.move--fast ,
					.move--bend ,
					.move--exit  { 
						position: relative ; display: flex ; aspect-ratio: 1 / 1 ; line-height: 200% ; height: 100% ; padding: 0 ; margin: 0 ; place-content: center ; 
						img  { height: 100% ; aspect-ratio: 1 / 1 ; display: block ; max-height: 1.5em ; display: none ; }
						img[src]  { display: block ; }
						span  { position: relative ; z-index: 20 ; } 
					}
					.move--rival  { order: 05 ; }
					.move--rival_icon  { order: 10 ; } 
					.move--star  { order: 15 ; } 
					.move--star_icon  { order: 20 ; } 
					.move--fast  { order: 25 ; } 
					.move--bend  { order: 20 ; } 
					.move--exit  { order: 30 ; }
					.move--exit span  { color: var(--wht) ; } 
					.move--exit span.blk  { color: var(--blk) ; } 
					.move--exit::before  { background-color: var(--txt) ; } 
					.move--bend::before  { transform: rotate(45deg) ; background: var(--bkg) ; }
					.move--bend::before ,
					.move--exit::before  { position: absolute ; inset: 17.5% ; content: '' ; display: block ; aspect-ratio: 1 / 1 ; outline: 1px solid ; outline-offset: -2px ;  opacity: 1 ; z-index: 10 ; }
				}
				.race  { 
					display: contents ; 
					.race--result:empty  { display: none ; }
					.race--result  { grid-area: move ; text-transform: uppercase ; }
					.icon.race--finish  { grid-area: race ; display: flex ; }
					.icon.race--unfinish  { grid-area: race ; display: none ; }
					.icon  { display: flex ; place-items: center ; place-content: center ; aspect-ratio: 1 / 1 ; width: 100% ; border-radius: 100% ; cursor: pointer ; transition: 0.25s background-color ease-out ; background-color: var(--blk) ; color: var(--wht) ; }
					.icon:hover  { background-color: var(--hgh) ; }
					.icon > img { width: 40% ; display: block ; }
				}
			}
			article[data-result] > .move > div  { display: none ; }
			article[data-result] > .race > .icon.race--finish  { display: none ; }
			article[data-result] > .race > .icon.race--unfinish  { display: flex ; }
			article[style*="--txt: rgb(32,32,32)"] {
				.driver .driver--name    { text-shadow: 0.05em 0.05em 0 var(--wht) ; }
				.driver .driver--name .driver--rival    { text-shadow: 0.075em 0.075em 0 var(--wht) ; }
				.driver .driver--team    { text-shadow: 2px 2px 1px var(--wht) ; }
				.driver .driver--colour    { text-shadow: 2px 2px 1px var(--wht) ; }
			}
		}
	}
	
	main .cnt article[data-human]       { order: 100 ; }
	main .cnt article[data-speed="0"]   { order: 99 ; }
	main .cnt article[data-speed="1"]   { order: 59 ; }
	main .cnt article[data-speed="2"]   { order: 58 ; }
	main .cnt article[data-speed="3"]   { order: 57 ; }
	main .cnt article[data-speed="4"]   { order: 56 ; }
	main .cnt article[data-speed="5"]   { order: 55 ; }
	main .cnt article[data-speed="6"]   { order: 54 ; }
	main .cnt article[data-speed="7"]   { order: 53 ; }
	main .cnt article[data-speed="8"]   { order: 52 ; }
	main .cnt article[data-speed="9"]   { order: 51 ; }
	main .cnt article[data-speed="10"]  { order: 50 ; }
	main .cnt article[data-speed="11"]  { order: 49 ; }
	main .cnt article[data-speed="12"]  { order: 48 ; }
	main .cnt article[data-speed="13"]  { order: 47 ; }
	main .cnt article[data-speed="14"]  { order: 46 ; }
	main .cnt article[data-speed="15"]  { order: 45 ; }
	main .cnt article[data-speed="16"]  { order: 44 ; }
	main .cnt article[data-speed="17"]  { order: 43 ; }
	main .cnt article[data-speed="18"]  { order: 42 ; }
	main .cnt article[data-speed="19"]  { order: 41 ; }
	main .cnt article[data-speed="20"]  { order: 40 ; }
	main .cnt article[data-speed="21"]  { order: 29 ; }
	main .cnt article[data-speed="22"]  { order: 38 ; }
	main .cnt article[data-speed="23"]  { order: 37 ; }
	main .cnt article[data-speed="24"]  { order: 36 ; }
	main .cnt article[data-speed="25"]  { order: 35 ; }
	main .cnt article[data-speed="26"]  { order: 34 ; }
	main .cnt article[data-speed="27"]  { order: 33 ; }
	main .cnt article[data-speed="28"]  { order: 32 ; }
	main .cnt article[data-speed="29"]  { order: 31 ; }
	main .cnt article[data-speed="30"]  { order: 30 ; }
	main .cnt article[data-result="20"] { order: 20 ; }
	main .cnt article[data-result="19"] { order: 19 ; }
	main .cnt article[data-result="18"] { order: 18 ; }
	main .cnt article[data-result="17"] { order: 17 ; }
	main .cnt article[data-result="16"] { order: 16 ; }
	main .cnt article[data-result="15"] { order: 15 ; }
	main .cnt article[data-result="14"] { order: 14 ; }
	main .cnt article[data-result="13"] { order: 13 ; }
	main .cnt article[data-result="12"] { order: 12 ; }
	main .cnt article[data-result="11"] { order: 11 ; }
	main .cnt article[data-result="10"] { order: 10 ; }
	main .cnt article[data-result="9"]  { order: 9 ; }
	main .cnt article[data-result="8"]  { order: 8 ; }
	main .cnt article[data-result="7"]  { order: 7 ; }
	main .cnt article[data-result="6"]  { order: 6 ; }
	main .cnt article[data-result="5"]  { order: 5 ; }
	main .cnt article[data-result="4"]  { order: 4 ; }
	main .cnt article[data-result="3"]  { order: 3 ; }
	main .cnt article[data-result="2"]  { order: 2 ; }
	main .cnt article[data-result="1"]  { order: 1 ; }

}
